<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alex.kotlin.job">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name=".LinkActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.alex.com"
                    android:pathPrefix="/link" />
            </intent-filter>
        </activity>

        <activity android:name=".DownloadActivity" />
        <activity android:name=".JobScheduleActivity">

            <intent-filter>
                <action android:name="com.alex.kotlin.job.JobScheduleActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/test" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.alex.com"
                    android:pathPrefix="/login"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Jobservice.MyJobIntentService" />
        <service
            android:name=".Jobservice.MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.ForegroundService" />
        
        <provider
            android:authorities="com.alex.kotlin.job.provider"
            android:exported="true"
            android:writePermission="com.alex.kotlin.job.provider.WRITE"
            android:readPermission="com.alex.kotlin.job.provider.READ"
            android:name=".Provider">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.alex.kotlin.job.provider"
                    android:pathPrefix="/path"
                    android:scheme="content" />
            </intent-filter>
        </provider>
        
        
    </application>

</manifest>